*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/* CLASS UTILITY --------- */ 

.flex{
    display: flex;
}

/* CLASS UTILITY ----------*/

.page{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.container{
    flex-flow: row wrap;
}

.head-main{
    flex-grow: 1;
}

header{
    width: 100%;
    height: 100px;
    background-color: #171717;
}

#sidebar{
    height: 600px;
    width: 200px;
    background-color: chocolate;
}

main{
    width: 100%;
    height: 500px; 
    background-color: darkblue;
}

footer{
    height: 100px;
    background-color: #171717;
}