*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/* CLASS UTILITY --------- */ 

.flex{
    display: flex;
}

.album{

}

/* CLASS UTILITY ----------*/

.page{
    height: 100vh;
    width: 100%;
    background-color: black;
    font-family: 'Montserrat', sans-serif;;
}

.container{
    flex-flow: row wrap;
    height: calc(100% - 100px);
}

.head-main{
    flex-grow: 1;
}

header{
    width: 100%;
    height: 100px;
    background-color: #171717;
    position: fixed;
}

#sidebar{
    height: 100%;
    width: 200px;
    background-color: chocolate;
}

.sidebar-top{
    width: 100%;
    height: 100px;
    background-color: burlywood;
}

.sidebar-central{
    width: 100%;
    height: calc( 100% - 200px );
    background-color: firebrick;
}

.sidebar-bottom{
    width: 100%;
    height: 100px;
    background-color: burlywood;
}

main{
    width: 100%;
    height: 100%; 
    overflow-y: scroll;  
    background-color: darkblue;
}

footer{
    height: 100px;
    background-color: #171717;
    display: flex;
}

.footer-left{
    height: 100%;
    width: 200px;
    background-color: gold;
}

.footer-central{
    flex-grow: 1;
    background-color: hotpink;
}

.footer-right{
    height: 100%;
    width: 200px;
    background-color: gold;
}
}

/* MEDIA-QUERY */

/* xs */

/* @media only screen and (max-width: 600px){
    
    #sidebar{
        width: 10%;

    }
} */

/* s */

/* @media only screen and (min-width: 600px) and (max-width: 768px){

    /* SISTEMARE */
    /* #sidebar{
        width: 20%;
    }

    .head-main{
        width: 80%;
    }

} */

/* medium */

/* @media only screen and (min-width: 768px) and (max-width: 1199px){

    #sidebar{
        width: 30%;
    }

    .head-main{
        width: 70%;
    }

}  */
