*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/* CLASS UTILITY --------- */ 

.flex{
    display: flex;
}

/* CLASS UTILITY ----------*/

.page{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.container{
    flex-flow: row wrap;
}

.head-main{
    flex-grow: 1;
}

header{
    width: 100%;
    height: 100px;
    background-color: #171717;
}

#sidebar{
    height: 600px;
    width: 200px;
    background-color: chocolate;
}

main{
    width: 100%;
    height: 500px; 
    background-color: darkblue;
}

footer{
    height: 100px;
    background-color: #171717;
}



/* MEDIA-QUERY */

/* xs */

@media only screen and (max-width: 600px){
    
    #sidebar{
        width: 10%;

    }
}

/* s */

@media only screen and (min-width: 600px) and (max-width: 768px){

    #sidebar{
        width: 20%;
    }

    .head-main{
        width: 80%;
    }

}

/* medium */

@media only screen and (min-width: 768px) and (max-width: 1199px){

    #sidebar{
        width: 30%;
    }

    .head-main{
        width: 70%;
    }

}
